[submodule "original/germhist"]
	path = original/gmh-ReM-syntax
	url = https://github.com/acoli-repo/germhist
[submodule "original/mtaac_gold_corpus"]
	path = original/sux-mtaac-morphology-manually
	url = https://github.com/cdli-gh/mtaac_gold_corpus
[submodule "original/mtaac_syntax_corpus"]
	path = original/sux-mtaac-syntax
	url = https://github.com/cdli-gh/mtaac_syntax_corpus
[submodule "original/mtaac_cdli_ur3_corpus"]
	path = original/sux-mtaac-ur3
	url = https://github.com/cdli-gh/mtaac_cdli_ur3_corpus
[submodule "original/RRG"]
	path = original/en-RRG-corpus
	url = https://github.com/acoli-repo/RRG
